@page
@model HormonaCrecimiento.App.Pages_MMedicos.DetailsModel
@{
}

<h1>Detalles</h1>
<div>
    <h4>Medico</h4>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Medico.Nombre</dd>

        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.Medico.Apellido</dd>

        <dt class="col-sm-2">Documento</dt>
        <dd class="col-sm-10">@Model.Medico.Documento</dd>

        <dt class="col-sm-2">Genero</dt>
        <dd class="col-sm-10">@Model.Medico.Genero</dd>

        <dt class="col-sm-2">Especializacion</dt>
        <dd class="col-sm-10">@Model.Medico.Especializacion</dd>

        <dt class="col-sm-2">Codigo</dt>
        <dd class="col-sm-10">@Model.Medico.Codigo</dd>

        <dt class="col-sm-2">Telefono</dt>
        <dd class="col-sm-10">@Model.Medico.Telefono</dd>

        <dt class="col-sm-2">RegistroRetThus</dt>
        <dd class="col-sm-10">@Model.Medico.RegistroRetThus</dd>

        
    


    </dl>
</div>