@page
@model HormonaCrecimiento.App.Pages_MPacientes.IndexModel
@{
}

<h1>Lista Pacientes</h1>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Genero</th>
            <th scope="col">Opciones<a asp-page="./Create"> <span class="material-icons">person_add</span></a> </th>
        </tr>
    </thead>
    @foreach (var paciente in Model.pacientes)
    {
        <tbody>
            <tr>
                <td>@paciente.Nombre</td>
                <td>@paciente.Apellido</td>
                <td>@paciente.Genero</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@paciente.Id"> <span class="material-icons">description</span></a>
                    <a asp-page="./Edit" asp-rou te-id="@paciente.Id"> <span class="material-icons">edit</span></a>
                    <a asp-page="./Delete" asp-route-id="@paciente.Id"> <span class="material-icons">delete</span></a>
                    </td>
            </tr>
        </tbody>    
    }
    
</table>