@page
@model HormonaCrecimiento.App.Pages_DBPacientes.DetailsModel
@{
}

<h1>Detalles</h1>
<div>
    <h4>Paciente</h4>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Paciente.Nombre</dd>

        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.Paciente.Apellido</dd>

        <dt class="col-sm-2">Documento</dt>
        <dd class="col-sm-10">@Model.Paciente.Documento</dd>

        <dt class="col-sm-2">Genero</dt>
        <dd class="col-sm-10">@Model.Paciente.Genero</dd>

        <dt class="col-sm-2">Direccion</dt>
        <dd class="col-sm-10">@Model.Paciente.Direccion</dd>

        <dt class="col-sm-2">Latitud</dt>
        <dd class="col-sm-10">@Model.Paciente.Latitud</dd>

        <dt class="col-sm-2">Longitud</dt>
        <dd class="col-sm-10">@Model.Paciente.Longitud</dd>

        <dt class="col-sm-2">Ciudad</dt>
        <dd class="col-sm-10">@Model.Paciente.Ciudad</dd>

        <dt class="col-sm-2">FechaNacimiento</dt>
        <dd class="col-sm-10">@String.Format("{0:MM/dd/yyyy}", Model.Paciente.FechaNacimiento)</dd>
        
        <dt class="col-sm-2">Medico</dt>
        <dd class="col-sm-10">@Model.Paciente.Medico.Nombre @Model.Paciente.Medico.Apellido</dd>

        <dt class="col-sm-2">Especializacion Medico</dt>
        <dd class="col-sm-10">@Model.Paciente.Medico.Especializacion</dd>

    


    </dl>
</div>